<?xml version="1.0" encoding="utf-8"?>
<manifest xmlns:android="http://schemas.android.com/apk/res/android"
    xmlns:tools="http://schemas.android.com/tools"
    package="mall.kwik.kwikmall">

    <uses-permission android:name="android.permission.ACCESS_FINE_LOCATION" />
    <uses-permission android:name="android.permission.ACCESS_COARSE_LOCATION" />
    <uses-permission android:name="android.permission.INTERNET" />
    <uses-permission android:name="android.permission.CALL_PHONE" />
    <uses-permission android:name="com.androidtutorialpoint.mymapsappsdirection.permission.MAPS_RECEIVE" />
    <uses-permission android:name="android.permission.WRITE_EXTERNAL_STORAGE" />
    <uses-permission android:name="com.google.android.providers.gsf.permission.READ_GSERVICES" />
    <uses-permission android:name="android.permission.VIBRATE" />
    <uses-permission android:name="android.permission.ACCESS_WIFI_STATE" />
    <uses-permission android:name="android.permission.ACCESS_NETWORK_STATE" />
    <uses-permission android:name="android.permission.READ_PHONE_STATE" />
    <uses-permission android:name="android.permission.RECEIVE_BOOT_COMPLETED" />
    <uses-permission android:name="android.permission.CAMERA" />

    <application
        android:name=".activities.aplicationclass.AppController"
        android:allowBackup="true"
        android:configChanges="orientation|screenSize"
        android:hardwareAccelerated="false"
        android:icon="@mipmap/kwiq_mall"
        android:label="@string/app_name"
        android:largeHeap="true"
        android:roundIcon="@mipmap/kwiq_mall"
        android:supportsRtl="true"
        android:theme="@style/NoInternetTheme"
        tools:replace="android:allowBackup,icon,theme,label,name">
        <service android:name=".firebasenotification.MyFirebaseMessagingService">
            <intent-filter>
                <action android:name="com.google.firebase.MESSAGING_EVENT" />
            </intent-filter>
        </service>
        <service android:name=".firebasenotification.FirebaseIDService">
            <intent-filter>
                <action android:name="com.google.firebase.INSTANCE_ID_EVENT" />
            </intent-filter>
        </service>

        <!-- Broadcast receiver declaration in manifest file and make sure to enable it -->

        <receiver android:name=".receiver.NetworkChangeReceiverForNearMeFrag">
            <intent-filter>
                <action android:name="android.net.conn.CONNECTIVITY_CHANGE" />
            </intent-filter>
        </receiver>

        <meta-data
            android:name="com.google.android.geo.API_KEY"
            android:value="AIzaSyAGBhiRN9SOnn85S7Isnb6acqDvWpMUeh8" />

        <activity
            android:name=".activities.SplashActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/AppTheme">
            <intent-filter>
                <action android:name="android.intent.action.MAIN" />

                <category android:name="android.intent.category.LAUNCHER" />
            </intent-filter>
        </activity>
        <activity
            android:name=".activities.SignInSignUpButtonsActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoardTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.FragmentsActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:launchMode="singleTop"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoardTheme"
            android:windowSoftInputMode="adjustPan"></activity>
        <activity
            android:name=".activities.FilterActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoardTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SearchForAreaActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoardTheme"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".activities.SignInActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoardTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SignUpActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoardTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ForgetPasswordActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoardTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.FoodDetailsActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.EnterAddressActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoardTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.PaymentMethodActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoardTheme"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".activities.PaymentSuccessfullyActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoardTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.TrackOrderMapActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoardTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.ManageAddressActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoardTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity
            android:name=".activities.SetDeliveryLocationActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoardTheme"
            android:windowSoftInputMode="stateHidden"></activity>
        <activity
            android:name=".activities.PaymentsModeActivity"
            android:alwaysRetainTaskState="true"
            android:exported="true"
            android:screenOrientation="portrait"
            android:theme="@style/DashBoardTheme"
            android:windowSoftInputMode="stateHidden" />
        <activity android:name=".activities.NewPassActivity"></activity>
    </application>

</manifest>